<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Emaua Test Automation Test Suite">
 
 <listeners>
 	<listener
 	class-name="com.emaua.ExtentReportListener.ExtentReporterNG">
 	</listener>
 </listeners>
 
  <test name= "Emaua Functional Test Cases">
  	<classes>
  		<class name="com.emaua.testcases.AboutPageTest"></class>
  		<class name="com.emaua.testcases.ContactUsPageTest"></class>
  		<class name="com.emaua.testcases.CoursesPageTest"></class>
  		<class name="com.emaua.testcases.HomePageTest"></class>
  		<class name="com.emaua.testcases.InstitutionsPageTest"></class>
  		<class name="com.emaua.testcases.LessonsPageTest"></class>
  		<class name="com.emaua.testcases.LoginPageTest"></class>
  		<class name="com.emaua.testcases.RegistrationPageTest"></class>
  		<class name="com.emaua.testcases.SubjectsPageTest"></class>
  		<class name="com.emaua.testcases.SyllabusPageTest"></class>
  		<class name="com.emaua.testcases.TeachersPageTest"></class>
  		<class name="com.emaua.testcases.TopicsPageTest"></class>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->