<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Emaua Test Automation Test Suite">
 
 <listeners>
 	<listener
 	class-name="com.qa.ExtentReportListener.ExtentReporterNG">
 	</listener>
 </listeners>
 
  <test name= "Emaua Test Cases">
  	<classes>
  		<class name="com.emaua.testcases.HomePageTest"></class>
  		<class name="com.emaua.testcases.LoginPageTest"></class>
  		<class name="com.emaua.testcases.ContactUsTest"></class>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->